{{>partials/header}}
{{#banner}}
<section class="banner" style="background-image: url('images/{{background}}')">{{title}} aqui!</section>
<h2>{{title}} para serem acessados agora</h2>
{{/banner}}

<div class="container list">
    {{#list}}
    <div class="item">
        <img src="images/{{image}}" class="item--image" />
        <div class="item--name">{{name}}</div>
        <div class="item--genre">{{album}}</div>
        <div class="item--genre">{{desc}}</div>
        <div class="item--genre">Ano:{{year}}</div>
    </div>
    {{/list}}
</div>

{{^list}}
    <div class="container no-list">
        <h2> Não encontramos esse álbum disponíveis com esse nome </h2>
    </div>
{{/list}}
{{>partials/footer}}